/* GLOBAL
-------------------------------------------------- */
body {
  padding-top: 2rem;
  font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size:1.3em;
}
.disabled {
   pointer-events: none;
   cursor: default;
}
.error{
	color:red;
}
.uppercase{
	text-transform: uppercase;
}

footer {
  /* position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; Set the fixed height of the footer here
  line-height: 60px; Vertically center the text there */
  text-align:center;
  padding-bottom:10px;

}

.jumbotron {
	margin-bottom:0px;
}

/* NAVBAR
-------------------------------------------------- */
i.fa-shopping-cart {
  position: relative;
  font-size: 2em;
  color: grey;
  cursor: pointer;
}
span.fa-circle {
  position: absolute;
  font-size: 0.8em;
  top: -10px;
  color: red;
  right: -6px;
}
span.num {
  position: absolute;
  font-size: 0.5em;
  top: -6px;
  color: #fff;
  right: 1px;
}
.navbar{
	min-height:150px;
}
.navbar-header{
	width:100%;
	
	margin-top:1em;
}
.navbar-inverse .navbar-brand{
	color:#FFF;
}
.navbar-brand{
	font-size:4em;
	text-align:center;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	float:left;
	width:80%;	
	padding-left:20%;
	display: inline-block;
	font-color:#FFF;
}
.navbar-nav{
	float:right;
}
.navbar-welcome {
    float: left;
    width:20%;
    padding-top: 15px;
    padding-right: 15px;
    text-align:right;
    color:white;
}
.navbar-subheader{
	width:100%; 
	float:right;
}
.subheader-left{
	float:left;
}
/* BODY
-------------------------------------------------- */
.jumbotron{
	background-color:#FFF;
}
.jumbotron p{
	font-size:1.3em;
}
.container-fluid{
	margin-top:150px;
}
/* LOGIN PAGE
-------------------------------------------------- */
.new-account-button{
	border-color:#c8c6c5;
	color:#313131;
	background-color:transparent;
	border-radius:0;
	border-style:solid;
	border-width:2px;
	line-height:12px;
	text-align:center;
	padding-top:12px;
	padding-bottom:12px;
	letter-spacing:1.6px;
	
}
.form-control{
	margin:2px;
}


/* HOME PAGE CAROUSEL
-------------------------------------------------- */
.carousel {
  margin-bottom: 4rem;
}
.item > img {
  min-width: 100%;
  
}
.featurette-image{
	height: 500px;
}

/* PRODUCT PAGE 
--------------------------------------------*/
.row-padding{
	padding-bottom: 30px;
}
.icon{
	font-size: 3em;
	opacity: 0.7;
}
.icon:hover{
	opacity: 1;
}
.color-div{
	padding: 2pc;
	background-color: #e7e7e7;
    margin-left: 2px;
    color: #333;
}
.img_product{
	width:100%;
}
.col_product{
	margin-left:4rem;
}
.col_product div{
	width:100%;
}
.product-price{
	font-style: italic;
    position: relative;
    font-size: 150%;
}
.style-number-title {
    line-height: 22px;
    padding: 7px 0;
}
.style-color-material {
}
.product-code{
	font-size: smaller;
	border-bottom: 1px solid #c8c6c5;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.product_desc{
	padding-top: 10px;
	padding-bottom: 10px;
    margin-bottom: 10px;
}
.size-select{
	display:none;
}
.btn_cart{
	margin-top: 20px;
	border: none;
	background-color: #222222;
	color: #FFFFFF;
}

/* CART PAGE 
--------------------------------------------*/
.form-control{
    margin: 0px;
    baackground-color: #f5f5f5;
}
.jumbotron p{
    margin-bottom: 0px;
}

.text-center{
    text-align: center;
}
p {
    margin: 0 0 0px;
}
.gradientless{
	margin-left: 0px !important;
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
    overflow:hidden !important;
    text-overflow: ellipsis !important;
    content: "" !important;
    position:relative !important;
}
.gradient{
	margin-left: 0px !important;
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
    max-height:70px !important;
    overflow:hidden !important;
    text-overflow: ellipsis !important;
    content: "" !important;
    position:relative !important;
    background: linear-gradient(to top, rgba(1,0,0,0), rgba(1,0,0,1));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.expanded{
    cursor: pointer;
    text-align: center;
    opacity: 0.5;
}
.center{
  width: 150px;
  margin: 40px auto;
  
}
.price-size{
	font-size: 2px;
}
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
}